.container
{
    width: 50%;
    background-color: grey;
    text-align: center;
    margin-left: 500;
    margin-right: -140;
    margin-top: 50;
    padding: 0;
}

#bar 
{
    width: 1%;
    height: 30px;
    background-color: #008888;
    text-align: center;
    
}

#clippy
{
    text-align: center;
    padding-top: 10%;
    padding-bottom: 2%;
    
}

body,html
{
    background-image: url(https://64.media.tumblr.com/534bdd8c845eac243f04b2c9461e630f/92673925840b4cde-1f/s500x750/45328a381e4580196a4913f6e976ddade579e598.gifv);
    height: 100%;
    background-repeat: no-repeat;
    background-size:cover;
}

#b
{
    margin-left: 500;
    margin-right: -140;
    margin-top: 50;
    padding: 0;
    text-align: center;


}

#button
{
    text-align: center;
    width: 15%;
}